<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Infracciones</title>
</head>
<body>
    <h1>Reporte de Infracciones</h1>
    <p>Fecha: [[${fecha}]]</p>
    <h3>Listado de Infracciones</h3>
    <table border="1" cellpadding = "5" width="100%">
       <thead>
           <tr>
               <th>ID</th>
               <th>DNI</th>
               <th>Fecha</th>
               <th>Placa</th>
               <th>Infracción</th>
               <th>Descripción</th>

           </tr>
       </thead> 
    
    <tbody>
        <tr th:each="reg: ${registros}">
            <td th:text="${reg.id}"></td>
            <td th:text="${reg.dni}"></td>
            <td th:text="${reg.fecha}"></td>
            <td th:text="${reg.placa}"></td>
            <td th:text="${reg.infracción}"></td>
            <td th:text="${reg.descripcion}"></td>

        </tr>
    </tbody>
    </table>
</body>
</html>